body {
    /*display: block; лишнее свойство*/
    margin: 0;
    padding-bottom: 5px;

}
/* лучше сразу убрать отступы всему списку и пунктам */
.item {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    /*height: 50px; если высоту задать пунктам, а не всему меню, рамка будет снизу*/
}
.item ul { 
    display: none;
    position: absolute;
    top: 100%;

}

/* высоту пунктам лучше задать с помощью padding */
.item li {
        margin: 0 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: inline-block;
        text-align: center;
        /* всем пунктам задаем прозрачную рамку */
        border-bottom: 3px solid transparent;
        position: relative;
        
    }
.item li a {
    text-align: center; 
} 
.item li:hover {
    /* при наведении меняем цвет рамки */
    border-color: #C62828;
}
a {
    font-family: Segoe UI;
    font-size: 15px;
    display: block;
    padding: 6px;
    width: 130px;
    color: black;
    text-decoration: none;
}

.item li:hover ul {
    display: block;
    
}

.item ul li {
    float: none;
}

input {
    display: block;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: hidden;
    background-color: lightcoral;
    border-bottom: 2px solid white;
    font-family: Segoe UI;
    font-size: 15px;
}

#close {
    text-decoration: none;
    color: white;
    position: absolute;
    top:10px;
    right: 20px;
}

button {
    appearance: none;
    display: block;
}

label {
    line-height: 30px;
    padding: 10px 0;
    color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
label::before {
    display: inline-block;
    border: 1px solid white;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.form {
    width: 500px;
    height: auto;
    background-color: lightcoral;
    border-radius: 2%;
    position: absolute;
    padding: 60px;
    left: 50%;
    transform: translate(-50%, 100%);
    
}

.log{
    display: none;
    }
.log:target{
    display: block;
}
#checkbox {
position: absolute;

}



